.footer {
  display: grid;
  color: #505050;

  &__container {
    @extend .flex-wrap;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px clamp(15px, 2vw, 25px);
    width: 100%;
    margin-bottom: 40px;

    .company-logo {
      margin-right: auto;
    }

    &-phone {
      a {
        font-size: 20px;
        font-weight: 600;
        color: var(--primary);

        @extend .hover-opacity;

        svg {
          display: none;
          fill: var(--white);
        }

        @include m-b-mobile-lg-down {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 10px;
          background-color: var(--primary);

          svg {
            display: block;
          }

          span {
            display: none;
          }
        }
      }
    }

    .footer__offer-btn {
      svg {
        display: none;
      }

      /* up/down desktop-lg(1920),desktop(1440),laptop(1140),tablet-lg(960),tablet(768),mobile-lg(534)*/
      @include m-b-tablet-down {
        width: 100%;
      }
    }
  }

  &__field {
    width: 50%;
    @extend .flex-column;

    @include m-b-down(680px) {
      width: 100%;
      margin-bottom: 30px;
    }

    &-title {
      @extend .lw-main-text;
      display: inline-block;
      font-weight: 700;
      margin-bottom: 30px;
      color: var(--primary);

      @include m-b-tablet-lg-down {
        font-size: 18px;
      }
    }

    &--law-info {
      padding-right: 20px;
      max-width: 420px;

      .company-law-info {
        &__field {
          margin-bottom: 5px;

          span,
          address {
            display: inline;
          }

          span:first-child {
            padding-right: 10px;
          }

          &--owner span {
            font-weight: 600;
          }
        }
      }
    }

    &--nav {
      flex-grow: 1;
      max-width: 1080px;
      padding: 0 20px;
      margin: 0 auto;
      margin-top: -8px;

      @include m-b-down(680px) {
        padding: 0;
      }

      .nav {
        &__list {
          &-item {
            display: flex;
            width: calc(100% / 3);
            min-width: 260px;
            padding-left: 12px;

            a {
              @extend .lw-main-text;
              font-weight: 700;
              color: var(--primary);
            }

            @include m-b-tablet-lg-down {
              width: 100%;
              min-width: initial;
              padding: 0;

              a {
                font-size: 18px;
              }
            }

            @include m-b-down(680px) {
              padding-left: 0;

              a {
                padding-left: 0;
              }
            }

            // @include m-b-down(1360px) {
            //   width: 100%;
            // }

            // &--confidentiality {
            //   display: flex;
            // }
          }
        }
      }
    }

    &--contacts {
      max-width: 320px;
      @extend .flex-column;

      span,
      a,
      address {
        display: block;
        margin-bottom: 10px;
      }

      .company-worktime,
      .company-phone,
      .company-mail,
      .company-office-address {
        margin-bottom: 20px;
      }

      .company-phone,
      .company-mail {
        display: block;
      }

      .company-mail {
        text-decoration: underline;
        color: var(--warning);

        @extend .hover-opacity;
      }

      .company-phone {
        font-size: 18px;
        font-weight: 600;

        @extend .hover-accent;
      }
    }
  }

  &-line {
    width: 100%;
    height: 1px;
    background-color: var(--primary);
    margin: 30px 0;
  }
  &__bottom {
    padding-bottom: 40px;

    &-container {
      display: grid;
      grid-template-columns: auto 168px;
      grid-column-gap: 40px;
      grid-row-gap: 20px;
      align-items: center;

      @include m-b-tablet-down {
        grid-template-columns: 1fr;
      }
    }
  }
}
