.header {
  padding: 10px 0;
  background: rgba(0, 66, 116, 0.6);

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  &__order-btn {
    max-width: fit-content;

    @include m-b-tablet-lg-down {
      margin: 0 var(--main-offset);
    }

    @include m-b-down(600px) {
      display: none;
    }
  }

  &__container {
    @extend .flex-wrap;
    align-items: center;
  }

  .lw-main-logo {
    margin-right: auto;

    @include m-b-down(1140px) {
      max-width: 280px;
    }

    @include m-b-down(600px) {
      width: calc(100% - 60px);
    }
  }

  &__nav {
    @extend .flex-centered-content;

    margin-right: var(--main-offset);

    @include m-b-tablet-lg-up {
      opacity: 1 !important;
      display: flex !important;
    }

    .nav {
      &__list-item {
        margin: 0 5px;
      }

      @include m-b-tablet-lg-up {
        transform: none !important;
      }

      @include m-b-tablet-lg-down {
      }

      @include m-b-down(1280px) {
        max-width: 840px;
      }
    }

    @include m-b-tablet-lg-down {
      display: none;
      margin: 0;
      border-top: 0;
      width: 100vw;
      overflow: hidden;

      &.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100vh;
        height: 100dvh;
        z-index: 100;
        background: rgba(35, 35, 35, 0.5);
        backdrop-filter: blur(2px);

        .nav {
          position: absolute;
          top: 0;
          right: 0;
          width: 100dvw;
          height: 100%;
          max-width: 360px;
          background-color: var(--primary);
          overflow: hidden;
          overflow-y: auto;

          &__header {
            display: flex;
          }

          &-closer {
            display: flex;
            max-width: fit-content;
            background-color: transparent;

            svg {
              fill: var(--white);
            }
          }

          &__list {
            flex-direction: column;
            align-items: flex-start;
            gap: var(--main-offset);
            margin: auto 0;

            padding: 50px 20px;

            &-item {
              margin: 0;
              margin-bottom: 5px;

              &--confidentiality {
                display: none;
              }

              a {
                font-size: 18px;
                text-transform: uppercase;
                padding-left: 0;
                color: var(--white);

                &:hover {
                  color: var(--warning);
                }

                @include m-b-mobile-lg-down {
                  font-size: 16px;
                }
              }
            }
          }

          &__footer {
            display: flex;
            gap: var(--main-offset);
            padding-bottom: 50px;

            .lw-main-link {
              margin-left: -10px;
            }
          }
        }
      }
    }
  }

  .burger {
    display: none;

    @include m-b-tablet-lg-down {
      display: flex;
    }
  }
}
