.developer {
  @extend .flex-column;
  align-items: baseline;
  gap: 5px;

  color: var(--main-text-color);

  img {
    max-width: 200px;
  }

  span {
    text-wrap: nowrap;
    font-size: 14px;
  }
}
