.law-info {
  strong {
    display: block;
    margin: 20px 0;
  }

  p,li {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  small {
    display: inline-block;
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 5px;
  }
}
