
.company-law-info
  .company-law-info__field
    span Юр. адрес:
    address 191167&nbsp;г.&nbsp;Санкт-Петербург, ул.&nbsp;Тележная, дом&nbsp;37&nbsp;литера&nbsp;N, помещ.&nbsp;4&nbsp;-&nbsp;H, помещ.&nbsp;15
  .company-law-info__field
    span ИНН/КПП:
    span 7841375755/784201001
  .company-law-info__field
    span ОГРН:
    span 1079847110474
  .company-law-info__field
    span Р/c:
    span 40702810703270002820
  .company-law-info__field
    span Банк:
    span ООО «Банк Точка» г. Москва
  .company-law-info__field
    span К/c:
    span 30101810745374525104
  .company-law-info__field
    span БИК:
    span 044525104
