/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */

:root {
  // base
  --font-family: "Manrope", sans-serif;
  --content-width: 1680px;
  --content-fluid-width: 1790px;
  --container-offset: clamp(20px, 6vw, 100px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-offset) * 2)
  );

  // colors
  --white: #ffffff;
  --black: #232323;

  --primary: #2d5183;
  --secondary: #8fa4c0;
  --light: #f2f7fd;
  --gray: #8d8d8d;
  --dark: #505050;
  --success: #21bf73;
  --danger: #f32f2f;

  --svg-fill-color: var(--secondary);
  --main-bg-color: var(--light);
  --info-card-bg: #f9fbfe;
  --main-offset: clamp(24px, 2.5vw, 40px);

  // scrollbar
  --main-scrollbar-width: 10px;
  --main-scrollbar-color: var(--light);
  --main-scrollbar-thumb-color: var(--primary);

  --modal-bg-color: var(--white);
  --retina-dppx: 1.5dppx;
  --retina-dpi: 144dpi;

  --main-transition: 0.25s 0.05s ease-in;
  --fast-transition: 0.1s ease-in;
}
