/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */

:root {
  // base
  --font-family: "Montserrat", sans-serif;
  --alt-font-family: "Roboto", sans-serif;
  --content-width: 1680px;
  --content-fluid-width: 1790px;
  --container-offset: clamp(20px, 3.6vw, 100px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-offset) * 2)
  );

  --white: #ffffff;
  --black: #232323;
  --primary: #004274;
  --secondary: #8fa4c0;
  --warning: #fac800;
  --success: #17a52e;
  --danger: #f32f2f;
  --error: #f32f2f;

  --svg-fill-color: var(--warning);
  --main-bg-color: var(--white);
  --main-offset: clamp(20px, 2.4vw, 40px);
  --main-border: 1px solid var(--white);
  --main-text-color: var(--white);

  --main-scrollbar-width: 10px;
  --main-scrollbar-color: var(--white);
  --main-scrollbar-thumb-color: var(--primary);

  --modal-bg-color: var(--white);
  --retina-dppx: 1.5dppx;
  --retina-dpi: 144dpi;

  --main-transition: 0.25s 0.05s ease-in;
  --fast-transition: 0.1s ease-in;
}
