include ../mixins/main-input
include ../mixins/custom-select

form(action='#' id="callback-form").callback-form
  <input type="hidden" name="Заполненная форма" value="Заказ звонка" id="callback-form-title">

  .callback-form__field
    +main-input({
      type: 'text',
      placeholder: 'Имя*',
      id: 'callback_user_name',
      required: true,
      name: 'Имя'
    })
  .callback-form__field
    +main-input({
      type: 'tel',
      placeholder: 'Телефон*',
      id: 'callback_user_phone',
      required: true,
      name: 'Телефон'
    })

  .callback-form__footer
    button(type="submit").lw-main-btn Заказать звонок
    small Нажимая на кнопку вы соглашаетесь с&nbsp;<a href="#" data-modal-anchor="law">обработкой персональных</a> данных.

