include ../mixins/tpl-parts/info-card

ul.features
  li.features__item
    +info-card({
      text: 'Эксклюзивный представитель завода БААЗ в России с 2017 года'
    })
  li.features__item
    +info-card({
      text: 'Патенты на всю поставляемую продукцию'
    })
  li.features__item
    +info-card({
      text: 'Собственное конструкторское бюро и сертифицированная лаборатория'
    })
  li.features__item
    +info-card({
      text: 'Соответствие требованиям Центра технического аудита РЖД'
    })
