include ../mixins/ui/main-link
include ../mixins/ui/main-btn
nav.nav
  ul.nav__list
    li.nav__list-item
      +main-link({
        cls: 'anchor-link',
        text: 'О нас',
        href: '#about',
      })
    li.nav__list-item
      +main-link({
        cls: 'anchor-link',
        text: 'Продукция',
        href: '#products',
      })
    li.nav__list-item
      +main-link({
        cls: 'anchor-link',
        text: 'Заказчикам',
        href: '#clients',
      })
    li.nav__list-item
      +main-btn({
        tag: 'button',
        linkView: true,
        cls: 'anchor-link',
        title: 'Политика обработки персональных данных',
        modal: 'law'
      })
