.law-info
  ul.list-reset
    li.law-info__list-item
      strong 1. Заголовок

      p текст
      strong жирный текст
      p <small> текст меньшего размера </small>
      ul
        li элемент внутреннего списка списка 1

        li элемент внутреннего списка списка 2



