include ../mixins/tpl-parts/main-logo
include ../mixins/ui/main-link
nav.nav
  .nav__header
    +main-logo({
      logoPath: 'icon-logo.svg',
      logoHeight: 60,
      logoWidth: 320,
      logoAlt: '«Спецкоплектсервис»',
    })

    button(type="button" aria-label="Закрыть меню").lw-main-btn.nav-closer
      svg(width="20" height="20")
        use(xlink:href="./assets/sprite.svg#icon-close")

  ul.nav__list
    li.nav__list-item
      +main-link({
        cls: 'anchor-link',
        text: 'О нас',
        href: '#about',
      })
    li.nav__list-item
      +main-link({
        cls: 'anchor-link',
        text: 'Продукция',
        href: '#products',
      })
    li.nav__list-item
      +main-link({
        cls: 'anchor-link',
        text: 'Заказчикам',
        href: '#clients',
      })

  .nav__footer
    +main-link({
      text: '+7 916 076 4550',
      href: 'tel:+79160764550',
      iconBefore: true,
      iconBeforeType: 'svg',
      iconBeforeWidth: 32,
      iconBeforeHeight: 32,
      iconBeforeName: 'phone',
    })

    +main-link({
      text: 'zakaz@sks.msk.ru',
      href: 'mailto:zakaz@sks.msk.ru',
      iconBefore: true,
      iconBeforeType: 'svg',
      iconBeforeWidth: 38,
      iconBeforeHeight: 24,
      iconBeforeName: 'mail',
    })





