extends layouts/main-layout.pug

block variables
  -
    const title = "Спецкомплектсервис"
    const desc = "Демпферы и комплектующие для железнодорожной техники"
    const keywords = ""

block content
  include ./views/index-page-template

block modals
  //- include ./modals/offer-modal

  //- include ./modals/law-modal
  //- include ./modals/success-modal
  //- include ./modals/error-modal
