.law-modal {
  &__title {
    display: block;
    font-size: 18px;
    align-self: center;
  }
  .modal__content {
    padding-top: 0;
    width: 90vw;
    max-width: 760px;
    height: fit-content;
    max-height: 75vh;
  }
  .modal__header {
    position: sticky;
    top: 0;
    padding: 20px 0;
    background-color: var(--white);
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  .modal-closer {
    position: static;
    margin-left: auto;
  }
}
