.main-modal {
  min-width: 360px;

  .modal {
    &__header {
      @extend .flex-column;
      margin-bottom: 20px;

      .lw-section-title {
        font-size: clamp(18px, 2.4vw, 24px);
        margin-bottom: 15px;
        padding-right: 50px;
      }

      &-text {
        font-size: 14px;
        line-height: 1.4;
        color: var(--text-color);
      }
    }
  }
}
