.state-modal {
  .modal-closer {
    position: static;
    margin-left: auto;
  }

  &.error-modal {
    .modal__body svg {
      fill: var(--danger);
    }

    .lw-section-title {
      color: var(--danger);
    }
  }

  &.success-modal {
    .modal__body svg {
      fill: var(--success);
    }

    .lw-section-title {
      color: var(--success);
    }
  }

  .modal {
    &-closer {
      position: absolute;
      top: 0;
      right: 0;
    }
    &__content {
      background-image: url("../assets/img/state-modal-bg.png");
      background-size: cover;

      max-width: 600px;
      width: 80vw;
    }
    // &__header {
    //   margin-bottom: 0;
    // }

    &__body {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      svg {
        min-width: 40px;

        @include m-b-down(475px) {
          display: none;
        }
      }

      .lw-section-title {
        font-size: 18px;
      }
    }
  }
}
