include ../../mixins/tpl-parts/main-section

+main-section({
  rtl: true,
  sectionCls: 'clients',
  titleTag: 'h2',
  titleText: 'Заказчикам',
  sectionID: 'clients',
  imgName: 'clients-img',

  textContent: [
    'Спецкомплектсервис является держателем товарного знака завода БААЗ на территории России и владеет патентами на поставляемую продукцию.',
    'Соблюдение производственных стандартов и высокое качество комплектующих ежегодно подтверждается Центром технического аудита ОАО «РЖД» (ЦТА РЖД).',
    'Проведение процедур валидации первого изделия (First article inspection - FAI), контроля производственного  процесса и проверки качества продукции.',
    'Для получения более подробной информации об ассортименте, сроках и условиях поставок, пожалуйста, оставьте заявку.',
  ],

  offerBtnText: 'Заказать каталог',
  offerBtnModal: 'offer'
})
