include ../../mixins/tpl-parts/main-section

+main-section({
  titleTag: 'h2',
  titleText: 'Продукция',
  sectionCls: 'products',
  sectionID: 'products',

  imgName: 'products-img',

  textContent: [
    'Спецкомплектсервис является эксклюзивным поставщиком демпферов и комплектующих для железнодорожного транспорта, выпускаемых заводом БААЗ. Все поставляемые детали проходят сертификацию и имеет гарантию завода-изготовителя.',
    'Мы предоставляем продукцию из каталога завода, а также оказываем услуги разработки и производим детали на заказ. Для этой цели мы привлекаем специалистов собственного конструкторского бюро и проводим испытания в сертифицированной лаборатории.',
    'Для получения более подробной информации о нашей продукции, сроках и условиях поставок, пожалуйста, оставьте заявку.'
  ],

  offerBtnText: 'Заказать каталог',
  offerBtnModal: 'offer'
})
