mixin head(title, desc, keywords)
  head
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    title!= title
    <meta name="description" content="Стартовый шаблон">
    <meta name="keywords" content="">
    //- <link rel="preload" fetchpriority="high" as="image" href="./assets/img/hero@1x.jpg" imagesrcset="./assets/img/hero@1x.webp, ./assets/img/hero@2x.png 2x, ./assets/img/hero@2x.webp 2x" />
    //- <link rel="preload" fetchpriority="high" as="image" href="./assets/img/hero-tablet@1x.jpg" imagesrcset="./assets/img/hero-tablet@1x.webp, ./assets/img/hero-tablet@2x.png 2x, ./assets/img/hero-tablet@2x.webp 2x" />
    //- <link rel="preload" fetchpriority="high" as="image" href="./assets/img/hero-mobile@1x.jpg" imagesrcset="./assets/img/hero-mobile@1x.webp, ./assets/img/hero-mobile@2x.png 2x, ./assets/img/hero-mobile@2x.webp 2x" />
    <link rel="stylesheet" href="./assets/main.css">

    script(defer src="./assets/bundle.js")
