include ../mixins/tpl-parts/main-logo
include ../mixins/ui/main-btn

header.header
  .lw-container.header__container
    +main-logo({
      logoPath: 'icon-logo.svg',
      logoHeight: 60,
      logoWidth: 320,
      logoAlt: '«Спецкоплектсервис»',
    })

    .header__nav
      include ../components/nav

    +main-btn({
      cls: 'header__order-btn',
      title: 'Заказать звонок',
      modal: 'offer'
    })

    include ../components/burger

