include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

html(lang="ru")
  +head(title, desc, keywords)

  body
    include ../components/loader
    include ./main-header

    main
      block content

    include ./main-footer

    block modals

    script(src="https://www.google.com/recaptcha/api.js?render=6Lc1_dspAAAAAK5Myo8l_GnHs4Jvl2loostj7qH5")
